{% extends 'autofarmapage/farmacia/farmacia_entregas_base.html' %}
{% load static %}

{% block entrega_resultado %}
{% if numero_mensaje == 1 %}
<br>
<div class="col-xs-12">
    <div class="center-xs">
        <h4>{{ mensaje }}</h4>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-6 end-xs">
        <p class="labelListar">Cantidad a Entregar: </p>
    </div>
    <div class="col-xs-6 start-xs">
        <h4>{{ cantidad }}</h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 end-xs">
        <p class="labelListar">Presentación: </p>
    </div>
    <div class="col-xs-6 start-xs">
        <h4>{{ medicamento.id_tipo_med.nombre_tipo_med | upper }}</h4>
    </div>
</div>
<br>
<div class="row center-xs">
    <button class="btn-x" type="button">
        <a href="{% url 'entrega-medicamento' id_receta %}">Volver</a>
    </button>
</div>
{% elif numero_mensaje == 0 %}
<div class="col-xs-12">
    <br>
    <div class="center-xs">
        <h3>{{ mensaje }}</h3>
    </div>
</div>
{% elif numero_mensaje == 2 %}
<div class="col-xs-12">
    <br>
    <div class="center-xs">
        <h3>{{ mensaje }}</h3>
    </div>
</div>
{% elif numero_mensaje == 3 %}
<div>
    <br>
    <div class="col-xs-12 center-xs">
        <h4>{{ mensaje }}</h4>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-6 end-xs">
            <p class="labelListar">Cantidad Reserva: </p>
        </div>
        <div class="col-xs-6 start-xs">
            <h4>{{ cantidad }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 end-xs">
            <p class="labelListar">Presentación: </p>
        </div>
        <div class="col-xs-6 start-xs">
            <h4>{{ medicamento.id_tipo_med.nombre_tipo_med | upper }}</h4>
        </div>
    </div>
    <br>
    <div class="row center-xs">
        <button class="btn" type="button">
            <a href="{% url 'entrega-medicamento' id_receta %}">Volver</a>
        </button>
    </div>
</div>
{% elif numero_mensaje == 4 %}
<div>
<br>
<div class="col-xs-12 center-xs">
    <h4>{{ mensaje }}</h4>
</div>
{% for reserva in reserva %}
<div class="col-xs-12 center-xs">
    <p class="labelListar">Fecha Reserva: {{ reserva.fecha_reserva }}</p>
</div>
<div class="col-xs-12 center-xs">
    <p class="labeListar">Cantidad Reservada: {{ reserva.cantidad }}</p>
</div>
{% endfor %}
</div>
{% elif numero_mensaje == 5 %}
<div class="col-xs-12">
    <div class="center-xs">
        <h4>{{ mensaje }}</h4>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-6 end-xs">
        <p class="labelListar">Cantidad a Entregar: </p>
    </div>
    <div class="col-xs-6 start-xs">
        <h4>{{ cantidad }}</h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 end-xs">
        <p class="labelListar">Presentación: </p>
    </div>
    <div class="col-xs-6 start-xs">
        <h4>{{ medicamento.id_tipo_med.nombre_tipo_med | upper }}</h4>
    </div>
</div>
<br>
<div class="row center-xs">
    <button type="button">
        <a href="{% url 'reservas-listar' %}">Volver</a>
    </button>
</div>
{% elif numero_mensaje == 6 %}
<br>
<div class="col-xs-12">
    <div class="center-xs">
        <h4>{{ mensaje }}</h4>
    </div>
</div>
{% endif %}
{% endblock %}