{% extends 'autofarmapage/farmacia/farmacia_entregas_base.html' %}
{% load static %}

{% block titulo %}
Farmacia - Prescripciones Pendientes de Entrega
{% endblock %}

{% block busqueda %}
<!--BUSCAR RECETA POR RUT DEL PACIENTE-->
<div>
    <br>
    <div>
        <h4 id="encabezadoform">Entregas pendientes</h4>
    </div>
    <form method="GET">
        {% csrf_token %}
        <input class="ancho-30" type="search" value="{{ request.GET.q }}" name="q" required placeholder="RUT Paciente"
            maxlength="12" oninput="checkRut(this)" onkeypress="return isNumber(event)">
        <button class="b-buscar" name="submit" type="submit" value="Search">
            <i class="fa fa-search fa-lg" style="font-size: 20px; color: #fff;"></i>
        </button>
    </form>
</div>
{% endblock %}

{% block entregas_pendientes %}

<div>
    <table>
        <thead>
            <tr>
                <th>Fecha Emisión</th>
                <th>Médico</th>
                <th>RUT</th>
                <th>Paciente</th>
                <th>RUT</th>
                <th></th>
            </tr>
        </thead>
        {% if recetasPendientes %}
        {% for receta in recetasPendientes %}
        <tr>
            <td>{{ receta.FECHA }}</td>
            <td>{{ receta.NOMBRE_MEDICO }}</td>
            <td>{{ receta.RUT_MEDICO }}</td>
            <td>{{ receta.NOMBRE_PACIENTE }}</td>
            <td>{{ receta.RUT_PACIENTE }}</td>
            <td>
                <button class="btn-x" type="button">
                    <a href="{% url 'entrega-medicamento' receta.ID %}"><i class="fa fa-eye fa-lg"></i></a>
                </button>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</div>


{% endblock %}