{% extends 'autofarmapage/farmacia/farmacia_entregas_base.html' %}
{% load static %}

{% block titulo %}
Farmacia - Reservas Medicamentos
{% endblock %}

{% block busqueda_reserva %}
<!--BUSCAR RESERVA POR RUT DEL PACIENTE-->
<div>
    <br>
    <div>
        <h4 id="encabezadoform">Medicamentos reservados</h4>
    </div>
    <form method="GET">
        {% csrf_token %}
        <input class="ancho-30" type="search" value="{{ request.GET.q }}" name="q" required placeholder="RUT Paciente"
            maxlength="12" oninput="checkRut(this)" onkeypress="return isNumber(event)">
        <button class="b-buscar" name="submit" type="submit" value="Search">
            <i class="fa fa-search fa-lg" style="font-size: 20px; color: #fff;"></i>
        </button>
    </form>
</div>
{% endblock %}

{% block reservas_lista %}
<div>
    <table>
        <thead>
            <tr>
                <th>Fecha Reserva</th>
                <th>RUT</th>
                <th>Paciente</th>
                <th>Medicamento</th>
                <th>Listo para Entregar</th>
                <th></th>
            </tr>
        </thead>
        {% if reservas %}
        {% for reserva in reservas %}
        <tr>
            <td>{{ reserva.FECHA_RESERVA }}</td>
            <td>{{ reserva.RUT }}</td>
            <td>{{ reserva.NOMBRE_PACIENTE }}</td>
            <td>{{ reserva.NOMBRE_MEDICAMENTO }}</td>
            <td>{{ reserva.LISTO_ENTREGAR }}</td>
            <td>
                <button class="btn-x" type="button">
                    <a href="{% url 'reservas-detalle' reserva.ID_RESERVA %}"><i class="fa fa-eye fa-lg"></i></a>
                </button>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</div>
{% endblock %}