{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!--Enlace css-->
        <link rel="stylesheet" href="{% static 'css/estiloListarUsuario.css' %}">
        <!--Enlace flexbox-->
        <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">

        <!--  Enlace a fuentes-->
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap"
            rel="stylesheet">

        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap"
            rel="stylesheet">

        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
        <title>AutoFarma - Listar Medicamentos</title>
</head>
<body>
    <div class="container">
        <header class="row backgroundheader">
            <div class="col-xs-12 col-lg-12">
                <div class="header">
                    <div class="col-xs-12 end-xs">
                        <a href="{% url 'inicio-farmacia' %}"><img src="{% static 'imagenes/LOGO_blanco.png' %}" alt="Logopaginablanco" height="40" width="200"> </a>
                        <p>{{ user.rut.id_centro.nombre_centro }}</p>
                        <div class="col-xs-12 star-xs">
                            <h4>{{ user.rut.nombres|upper }} {{ user.rut.apellido_paterno|upper }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section class="row section">
            <div class="row col-xs-12">
                <div class="col-xs-12 col-md-2 start-large backgroundleftside">
                    <div class="sideleft">
                        <div class="row">
                            <div class="col-xs-12 col-lg-12 center-lg">
                                <div class="button_usuario">
                                    <a href="{% url 'agregar-medicamento' %}"><img src="{% static 'imagenes/icono_agregar_medicamento_blue.png' %}" alt="agregarMedicamento"  height="60" width="60"></a>
                                    <h4>Agregar Medicamento</h4>
                                </div>
                            </div>

                            <div class="col-xs-12 col-lg-12 center-lg">
                                <div class="button_listarusuarios">
                                    <a href="{% url 'listar-medicamento' %}"><img src="{% static 'imagenes/icono_listar_medicamentos_blue.png' %}" alt="lstarMedicamentos"  height="60" width="60"></a>
                                    <h4>Listar Medicamentos</h4>
                                </div>
                            </div>

                            <div class="col-xs-12 col-lg-12 center-lg">
                                <div class="button_listarinformes">
                                    <a href="#"><img src="{% static 'imagenes/listarInformes.png' %}" alt="Informes"  height="60" width="60"></a>
                                    <h4>Informes</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-10 col-lg-10 center-xs backgroundrightside">
                    <br>
                    <div class="row col-xs-12 center-xs">
                        <h4>Editar Medicamento</h4>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 end-xs">
                            <p>Código Medicamento: </p>
                        </div>
                        <div class="col-xs-3 start-xs">
                            <p>{{ medicamento.codigo }}</p>
                        </div>
                        <div class="col-xs-3 end-xs">
                            <p>Nombre Medicamento: </p>
                        </div>
                        <div class="col-xs-3 start-xs ">
                            <p>{{ medicamento.nombre_medicamento }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>