<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>
        <hr>
        <h2 align="center">INFORME STOCK MEDICAMENTOS</h2>
        <br>
        <h3>Centro de salud: adfasdfas</h3>
    
        <h3>aqui va la region</h3>
        <hr>
        <br>
    </header>

    <div>
        <h4>Nombre médicamento: asdfasdf</h4> 
        <br>
        <h4>Fabricante: </h4>
        <br>
        <h4>Presentación: </h4> 
        <br>
        <h4>Stock: </h4> 
        <br>
        <h4>Médicamentos caducados: </h4>
        <br>
        <h4>Total disponibles: </h4>
        <br>
        <hr>
    </div>
    
</body>
</html>