{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!--Enlace css-->
        <link rel="stylesheet" href="{% static 'css/estiloListarInforme.css' %}">
        <!--Enlace flexbox-->
        <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">

        <!--  Enlace a fuentes-->
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap"
            rel="stylesheet">


        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap"
            rel="stylesheet">
        <title>Listar Informes</title>


    </head>
    
    <body>
        <div class="container">
            <header class="row backgroundheader">
                <div class="col-xs-12 col-lg-12" >
                   <div class="header"> 
                       <div class="col-xs-12 end-xs">
                            <a href="{% url 'homeadmi' %}"><img src="{% static 'imagenes/LOGO_blanco.png' %}" alt="Logopaginablanco" height="40" width="200"> </a>
                            <p>{{ user.rut.id_centro.nombre_centro }}</p>
                            <div class="col-xs-12 star-xs">
                                <h4>{{ user.rut.nombres|upper }} {{ user.rut.apellido_paterno|upper }}</h4>
                            </div>
                       </div>
                   </div>
                </div>
            </header>

            <section class="row section">
                <div class="col-xs-12 col-md-2 col-lg-2 star-large backgroundleftside">
                    <div class="sideleft">
                        <div class="row">
                            <div class="col-xs-12 col-lg-12 center-lg">
                                <div class="button_usuario">
                                    <a href="{% url 'agregar-usuario' %}"><img
                                            src="{% static 'imagenes/agregarUsuario.png' %}"
                                            alt="agregar_Usuario" height="60"
                                            width="60"></a>
                                    <h4>Crear Usuario</h4>
                                </div>
                            </div>

                            <div class="col-xs-12 col-lg-12 center-lg">
                                <div class="button_listarusuarios">
                                    <a href="{% url 'listar-usuario' %}"><img
                                            src="{% static 'imagenes/listarusuarios.png' %}"
                                            alt="lstar_usuario" height="60"
                                            width="60"></a>
                                    <h4>Listar Usuarios</h4>
                                </div>
                            </div>

                            <div class="col-xs-12 col-lg-12 center-lg">
                                <div class="button_listarinformes">
                                    <a href="{% url 'listar-informe' %}"><img
                                            src="{% static 'imagenes/listarInformes.png' %}"
                                            alt="listar_informes" height="60"
                                            width="60"></a>
                                    <h4>Listar Informes</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                
            
                <!-- seccion lista informes-->

                <div class="col-xs-12 col-md-10 col-lg-10 center-xs backgroundrightside">
                    <div class="sideright">
                        <div class="row">
                            <div class="col-xs-12 col-md-12 col-lg-12 center-xs">
                                <h4 id="encabezadoform">LISTADO DE INFORMES</h4>
                            </div>
                        </div>

                        <!--CAMPO BUSCAR
                        <form id="formulario-buscar-informe" method="GET"
                            action="#" class="formulariobuscarinforme">
                            <div class="row">
                                <div class="col-xs-6 col-md-6 col-lg-6 end-xs">
                                    <select required name="Región"
                                        id="regiones">
                                        <option></option>
                                        <option>Stock </option>
                                        <option>Medicamentos reservados</option>
                                    </select>
                                </div>
                                <div class="col-xs-6 col-md-6 col-lg-6 start-xs">
                                    <button class="buttonBuscar"><img src="{% static 'imagenes/search.png' %}"
                                            alt="search-listar" height="30"
                                            width="30"></button>
                                </div>
                            </div>
                        </form>-->

                        <div class="col-xs-12 center">
                            <form method="POST">{% csrf_token %}
                                

                                <button class="btn-x" name="btn_stock">CREAR INFORME<img src="{% static 'imagenes/add-02.png' %}" alt="search-listar" height="25" width="25"></button>
                            </form>

                            <form method="GET">{% csrf_token %}
                                    <button name="btn_reserva"class="btn-x">CREAR INFORME RESERVA</button>
                            </form>
                            <div class="row center-xs mensajes">
                                {% if messages %}
                                <ul>
                                    {% for message in messages %} 
                                    <li class="{{ message.tags }}">{{ message }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                            <br>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-md-12 col-lg-12 center-xs">
                                       
                                <h3>REGISTRO INFORMES:</h3>
                                
                    
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>ID_INFORME</th>
                                                <th>FECHA_INFORME</th>
                                                <th>ID_CENTRO</th>
                                                <th>ID_TIPO_INFORME</th>
                                                <th>Abrir</th>
                                                <td>Descargar</td>
                                                
                                            </tr>
                                        </thead>
                                        {% if informes %}
                                        {% for i in informes %}
                                        <tr>
                                            <td>{{ i.id_informe }}</td>
                                            <td>{{ i.fecha }} </td>
                                            <td>{{ i.id_centro.nombre_centro}}</td>
                                            <td>{{ i.id_tipo_inf.nombre_tipo_inf}}</td>

                                            {% if i.id_tipo_inf.id_tipo_inf == 2 %}

                                            <td>
                                                <button class="btn-x" type="button">
                                                   <a href="{% url 'pdf_reserva' i.id_informe %}" target="_blank"><img src="{% static 'imagenes/New-Open.png' %}" alt="search-listar" height="30" width="30"></a>
                                                </button>
                                            </td>

                                            <td>
                                                <button class="btn-x" type="button">
                                                   <a href="{% url 'pdf_descargar' i.id_informe %}" target="_blank"><img src="{% static 'imagenes/Download.png' %}" alt="search-listar" height="30" width="30"></a>
                                                </button>
                                            </td>

                                            {%elif i.id_tipo_inf.id_tipo_inf == 1%}

                                            <td>
                                                <button class="btn-x" type="button">
                                                   <a href="{% url 'pdf_stock' i.id_informe %}" target="_blank"><img src="{% static 'imagenes/New-Open.png' %}" alt="search-listar" height="30" width="30"></a>
                                                </button>
                                            </td>

                                            <td>
                                                <button class="btn-x" type="button">
                                                   <a href="{% url 'pdf_download' i.id_informe %}" target="_blank"><img src="{% static 'imagenes/Download.png' %}" alt="search-listar" height="30" width="30"></a>
                                                </button>
                                            </td>

                                            {%endif%}
                                            
                                        </tr>
                                        {% endfor %}
                                        {% endif%}
                                       
                                    </table>

                                   
                              
                            
        
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>