{% extends 'autofarmapage/base_medico.html' %}
{% load static %}

{% block content %}
<div class="contenidoMedico">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12 center-xs">
            <h4 id="encabezadoform">Información receta</h4>
        </div>
    </div>
    <div class="receta-elegida">
        <div class="receta-datos">
            <div class="receta-superior">
                <div class="receta-logo">
                    <img src="{% static 'imagenes/LOGO_azul.png' %}" alt="Logopaginablanco" height="40" width="200" />
                </div>
                <div class="receta-medico">
                    <h4>N° receta: {{ receta.id_receta }}</h4>
                    <p>{{ user.rut.id_centro.nombre_centro }}</p>
                    <h4 class="nombre-medico">Dr/Dra. {{user.rut.nombres}} {{user.rut.apellido_paterno}}
                        {{user.rut.apellido_materno}}</h4>
                    <h4 id="formateoRut"> {{receta.rut_medico.rut.rut}}{{receta.rut_medico.rut.dv}}</h4>
                </div>
            </div>
            <div class="receta-paciente">
                <div class="n-paciente">
                    <h4>NOMBRE PACIENTE: {{receta.rut_paciente.nombres}}
                        {{receta.rut_paciente.apellido_paterno}}
                        {{receta.rut_paciente.apellido_materno}}
                    </h4>
                </div>
                <div class="r-paciente" id="formateoRutP">
                    <h4> a {{receta.rut_paciente.rut}}{{receta.rut_paciente.dv}} </h4>
                </div>
                <br>
            </div>
            <div class="receta-detalle">
                <hr class="hr-receta">
                <h4 class="subtitulo-detalle"> <b>RECETA MÉDICA</b></h4>
                <hr class="hr-receta">
                <div class="receta ancho-100">
                    {%if detallereceta%}
                    {%for j in detallereceta%}
                    <li class="receta-remedios">
                        <p><b class="MayusName">{{j.codigo.nombre_medicamento}}</b>
                            en {{j.codigo.id_tipo_med.nombre_tipo_med}}: {{j.dosis_diaria}}
                            unidades/dosis por {{j.duracion_tratamiento}} días
                        <p>
                        <p>{{j.posologia}}</p>
                    </li>
                    {%endfor%}
                    {%endif%}
                </div>
            </div>
            <div class="receta-inferior">
                <div class="receta-fecha">
                    <h4>Fecha: {{receta.fecha_receta}}</h4>
                </div>
                <div class="receta-firma">
                    <h4> Firma médico</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Formatear RUT -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/inputmask/inputmask.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/css/inputmask.min.css" rel="stylesheet" />

<script>
    $("#formateoRut").inputmask({
        mask: " RUT: 9[9.999.999]-[9|K|k]",
    });

    $("#formateoRutP").inputmask({
        mask: " RUT PACIENTE: 9[9.999.999]-[9|K|k]",
    });
</script>

{% endblock %}