{% extends 'autofarmapage/base_pass_reset.html' %}
{% load static %}

{% block title %}¿Olvidaste tu Contraseña?{% endblock %}

{% block content %}
<div>
    <h3>¿Olvidaste tu Contraseña?</h3>
    <p>
        Ingresa tu RUT y te enviaremos una nueva contraseña a tu correo electrónico 
    </p>
</div>

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="rut" id="rut" required maxlength="12" placeholder="RUT"
            oninput="checkRut(this)" onkeypress="return isNumber(event)"/>
        <button class="buttonLogeo" type="submit">Reestablecer Contraseña</button>
    </form>

    <div class='alerta'>
        {% if alerta %}
        <span onclick="this.parentElement.style.display='none';"
            style="color: red;">{{alerta}}</span>
        {% endif %}
    </div>
{% endblock %}