{% extends 'autofarmapage/base_pass_reset.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h3>Tu contraseña ha sido modificada.</h3>
</div>

<div>
    {% if user.id_tipo_empleado.id_tipo_empleado == 3 %}
    <a href="{% url 'homeadmi' %}">
        <h2>Ir a Inicio</h2>
    </a>
    {% elif user.id_tipo_empleado.id_tipo_empleado == 2 %}
    <a href="{% url 'inicio-farmacia' %}">
        <h2>Ir a Inicio</h2>
    </a>
    {% elif user.id_tipo_empleado.id_tipo_empleado == 1 %}
    <a href="{% url 'home_medico' %}">
        <h2>Ir a Inicio</h2>
    </a>
    {% endif %}
</div>

{% endblock %}